:root {
    --primary-color: #cacaca;
    --secondary-color: rgb(223, 223, 223);
    --text-color: black;
    --submit-color: #d65b32;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container, .logo {
    display: flex;
    flex-flow: row wrap;
}

.hero-image {
    background-image: url(./aishah-rahman-dmZaS68ITWQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw; 
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);

    position: relative;
    top: 30vh;
    padding: 15px 0;
    justify-content: center;  
    align-items: center;
    color: rgb(255, 255, 255);
}

.credit {
    position: relative;
    top: 82vh;
    left: 3vw;
    color: white;
}
.credit a {
    color: white;
}

.right-side {
    width: 60vw;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.call-to-action {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.left {
    padding-left: 3vw;
}

.form-input {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-input {
    background-color: var(--secondary-color);
    box-shadow: 5px 3px 4px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-flow: row wrap;
    gap: 30px;

    /* could add padding here */

}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.9rem;
    opacity: 80%;
    text-transform: uppercase;
}

input {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
}

input:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 2px solid var(--submit-color);
}

.right-side button {
    background-color: var(--submit-color);
    padding: 20px;
    margin: 30px 0;
    border-radius: 7px;
    border: none;

    font-size: 1.2em;
    font-weight: 600;
    color: var(--secondary-color);

    transition: all 0.15s;
}

.right-side button:hover {
    transform: scale(1.1);
}

.right-side a {
    text-decoration: none;
    color: var(--submit-color);
}

.right-side img {
    height: 4rem;
    width: 4rem;
    position: absolute;
    left: 94vw;
    top: 90vh;
    transition: transform 0.15s;
}

.right-side img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.right-side img:active{
    cursor: pointer;
    transform: scale(1);
}

@media only screen and (max-width: 1060px) {
    .container {
        flex-flow: column;
        height: auto;
        text-align: center;
        overflow-x: hidden;
    }
    .hero-image {
        width: auto;
        height: 20vh;
        background-size: 100vw;
    }
    .logo {
        background-color: rgba(0, 0, 0, 0.0);
        position: static;
        flex-direction: column;
    }
    .logo img {
        height: 4rem;
        width: 4rem;
    }
    .credit {
        visibility: hidden;
    }
    .right-side{
        width: auto;
        height: auto;
    }
    .call-to-action{
        margin-bottom: 0rem;
    }
    .form-input{
        flex-flow: column nowrap;
        align-items: center;
    }
    .input{
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .left {
        padding-left: 0vw;
    }
    .right-side img {
        position: static;
    }
    .right-side img:hover{
        transform: none;
    }
    .right-side img:active{
        transform: scale(0.9);
    }
}